* html {
  overflow-y:scroll;
}
body {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
}


/* Headers */
h1, h2, h3, h4, h5, h6  {
  margin-top: 6px;
  margin-bottom: 6px;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
}
h2 {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  background-color:#ccccff;
}
h3 {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #006699;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
h4 {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  background-color: #ccccff;
  padding-left: 20px;
}


/* Tables */
table {
  font-size: 12px;
  border-spacing: 0px;
  border-collapse: collapse;
}
thead {
  margin-top: 4px;
  font-weight: bold;
}
th {
  color: #ffffff;
  background-color: #4040c0;
  font-weight: bold;
  border: #999999 1px solid;
}
td {
  border: #999999 1px solid;
}
td.tone {
  background-color: #f0f0f0;
}
td.tone span.mml {
  display: none;
}
table.no_border th, table.no_border td {
  border-width: 0px;
}
.state {
  font-weight: bold;
  padding: 5px;
  width: 80px;
}
.state i {
  font-weight: normal;
}
.range {
  padding: 5px;
  width: 120px;
}
.desc {
  padding: 5px;
}
b {
  color: #c04040;
}
.notrec {
  color: #8080c0;
}


/* Headers */
.control {
  margin-left: 20px;
  font-size: 11px;
}
div.table {
  margin: 10px;
}
div.appendex {
  font-size: 12px;
  margin: 10px;
  padding: 5px;
  border: #999999 1px solid;
}
div.appendex div.title {
  padding: 2px;
  padding-left: 6px;
  font-weight: bold;
  background-color: #e0e0f0;
}
pre.example, pre.formula {
  min-width:640px;
  max-width:960px;
  overflow-x: auto;
  display: block;
  font-family: "Courier New", Courier, monospace;
  margin: 4px;
  padding: 4px;
  background-color: #f0f0f0;
}
